In [30]:
import pandas as pd

In [31]:
songs_df = pd.read_csv('../dataset/SpotifySongs.csv')
songs_df.head(5)

,SongName,ArtistName,Popularity,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Duration_ms
0,Saiyaan Ji,Yo Yo Honey Singh,62,0.896,0.678,0,-2.546,0,0.0815,0.0137,0.000041,0.1100,0.604,130.024,205450
1,Falling,Trevor Daniel,84,0.785,0.431,10,-8.756,0,0.0364,0.1230,0.000000,0.0887,0.236,127.085,159382
2,Shayad,Pritam,72,0.483,0.468,8,-7.642,1,0.0341,0.7850,0.000000,0.1520,0.319,135.864,247941
3,"Malang (Title Track) [From ""Malang - Unleash T...",Ved Sharma,68,0.384,0.728,7,-6.503,0,0.0623,0.3290,0.000018,0.3290,0.311,156.396,287374
4,Genda Phool (feat. Payal Dev),Badshah,67,0.955,0.538,1,-8.394,1,0.0734,0.1320,0.001460,0.0704,0.837,116.977,170769

In [32]:
songs_df.shape

(3731, 15)

In [33]:
songs_df.isna().sum()

SongName            0
ArtistName          0
Popularity          0
Danceability        0
Energy              0
Key                 0
Loudness            0
Mode                0
Speechiness         0
Acousticness        0
Instrumentalness    0
Liveness            0
Valence             0
Tempo               0
Duration_ms         0
dtype: int64

In [34]:
# songs_df.drop_duplicates(subset=['SongName'])

In [35]:
songs_df.shape

(3731, 15)

In [36]:
songs_df = songs_df.drop_duplicates(subset=['SongName'])
songs_df.shape

(1063, 15)

In [37]:
# songs_df[songs_df['SongName'] == 'Falling']

In [38]:
songs_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1063 entries, 0 to 3717
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SongName          1063 non-null   object
 1   ArtistName        1063 non-null   object
 2   Popularity        1063 non-null   int64
 3   Danceability      1063 non-null   float64
 4   Energy            1063 non-null   float64
 5   Key               1063 non-null   int64
 6   Loudness          1063 non-null   float64
 7   Mode              1063 non-null   int64
 8   Speechiness       1063 non-null   float64
 9   Acousticness      1063 non-null   float64
 10  Instrumentalness  1063 non-null   float64
 11  Liveness          1063 non-null   float64
 12  Valence           1063 non-null   float64
 13  Tempo             1063 non-null   float64
 14  Duration_ms       1063 non-null   int64
dtypes: float64(9), int64(4), object(2)
memory usage: 132.9+ KB

In [39]:
songs_df.isnull().any()

SongName            False
ArtistName          False
Popularity          False
Danceability        False
Energy              False
Key                 False
Loudness            False
Mode                False
Speechiness         False
Acousticness        False
Instrumentalness    False
Liveness            False
Valence             False
Tempo               False
Duration_ms         False
dtype: bool

In [40]:
songs_df.describe()

,Popularity,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Duration_ms
count,1063.000000,1063.000000,1063.000000,1063.000000,1063.000000,1063.000000,1063.000000,1063.000000,1063.000000,1063.000000,1063.000000,1063.000000,1063.000000
mean,65.744120,0.603239,0.588077,4.643462,-7.642214,0.584196,0.086044,0.323137,0.078222,0.165847,0.422132,120.531230,204480.257761
std,22.654209,0.159994,0.221402,3.639844,5.255746,0.493092,0.089627,0.312401,0.242283,0.115529,0.225078,29.198844,60817.852865
min,0.000000,0.085800,0.005020,0.000000,-34.991000,0.000000,0.023500,0.000185,0.000000,0.024600,0.035600,55.269000,35240.000000
25%,56.000000,0.507000,0.463000,1.000000,-8.136000,0.000000,0.036700,0.048500,0.000000,0.097200,0.236000,97.130500,172810.000000
50%,73.000000,0.625000,0.628000,4.000000,-6.184000,1.000000,0.048300,0.216000,0.000000,0.116000,0.427000,120.069000,199549.000000
75%,81.000000,0.721000,0.758500,8.000000,-4.880000,1.000000,0.095200,0.547000,0.000331,0.192000,0.595000,140.054000,226838.500000
max,97.000000,0.955000,0.966000,11.000000,-2.409000,1.000000,0.966000,0.993000,0.977000,0.831000,0.969000,199.840000,589095.000000

In [41]:
songs_df_cpy = songs_df.drop_duplicates(subset=['SongName'])
songs_df_cpy.shape

(1063, 15)

In [42]:
songs_df_cpy[songs_df_cpy['SongName'] == 'Falling']

,SongName,ArtistName,Popularity,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Duration_ms
1,Falling,Trevor Daniel,84,0.785,0.431,10,-8.756,0,0.0364,0.123,0.0,0.0887,0.236,127.085,159382

In [43]:
duration_s = (songs_df['Duration_ms'] / 1000)
songs_df_cpy['Duration_s'] = duration_s.round()

In [44]:
songs_df_cpy.shape

(1063, 16)

In [45]:
songs_id = [i for i, name in enumerate(songs_df_cpy['SongName'])]
# songs_id[-1]
songs_df_cpy['id'] = songs_id

In [46]:
# songs_df_cpy = songs_df_cpy.drop(['SongName', 'ArtistName'], axis=1)
# songs_df_cpy.head()

In [47]:
songs_df_cpy.head()

,SongName,ArtistName,Popularity,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Duration_ms,Duration_s,id
0,Saiyaan Ji,Yo Yo Honey Singh,62,0.896,0.678,0,-2.546,0,0.0815,0.0137,0.000041,0.1100,0.604,130.024,205450,205.0,0
1,Falling,Trevor Daniel,84,0.785,0.431,10,-8.756,0,0.0364,0.1230,0.000000,0.0887,0.236,127.085,159382,159.0,1
2,Shayad,Pritam,72,0.483,0.468,8,-7.642,1,0.0341,0.7850,0.000000,0.1520,0.319,135.864,247941,248.0,2
3,"Malang (Title Track) [From ""Malang - Unleash T...",Ved Sharma,68,0.384,0.728,7,-6.503,0,0.0623,0.3290,0.000018,0.3290,0.311,156.396,287374,287.0,3
4,Genda Phool (feat. Payal Dev),Badshah,67,0.955,0.538,1,-8.394,1,0.0734,0.1320,0.001460,0.0704,0.837,116.977,170769,171.0,4

In [48]:
songs_df_cpy.tail()

,SongName,ArtistName,Popularity,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Duration_ms,Duration_s,id
3687,Electricity,Sam Pinkerton,53,0.883,0.728,0,-6.079,1,0.0506,0.2280,0.000000,0.1730,0.489,104.037,174027,174.0,1058
3689,Illuminate,The Kite String Tangle,54,0.649,0.758,10,-5.647,0,0.0581,0.0364,0.000041,0.3600,0.737,120.001,167811,168.0,1059
3690,BE OK,Samoht,79,0.766,0.706,7,-6.553,0,0.1600,0.2230,0.000280,0.0640,0.766,142.989,172598,173.0,1060
3692,Dreams (feat. LUISAH),Blasterjaxx,50,0.550,0.234,0,-10.264,1,0.0358,0.9410,0.000003,0.0996,0.233,72.799,341918,342.0,1061
3717,Never Really Over,Katy Perry,80,0.805,0.330,1,-8.712,0,0.1000,0.2200,0.000000,0.1050,0.211,121.970,242983,243.0,1062

In [49]:
from sklearn.metrics.pairwise import cosine_similarity

In [50]:
X_df = songs_df_cpy.drop(['SongName', 'ArtistName'], axis=1)
cos_sim_data = pd.DataFrame(cosine_similarity(X_df))
cos_sim_data

,0,1,2,3,4,5,6,7,8,9,...,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062
0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.999989,0.999988,0.999989,0.999981,0.999983,0.999982,0.999980,0.999981,0.999995,0.999990
1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.999989,0.999988,0.999989,0.999981,0.999983,0.999982,0.999980,0.999981,0.999995,0.999990
2,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.999990,0.999988,0.999989,0.999981,0.999983,0.999982,0.999980,0.999981,0.999995,0.999990
3,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.999990,0.999988,0.999989,0.999981,0.999983,0.999982,0.999980,0.999981,0.999995,0.999990
4,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.999990,0.999988,0.999989,0.999982,0.999983,0.999982,0.999980,0.999981,0.999995,0.999991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1058,0.999982,0.999982,0.999982,0.999982,0.999982,0.999982,0.999982,0.999982,0.999982,0.999982,...,0.999999,0.999999,0.999999,1.000000,1.000000,1.000000,1.000000,1.000000,0.999995,0.999999
1059,0.999980,0.999980,0.999980,0.999980,0.999980,0.999980,0.999980,0.999980,0.999980,0.999980,...,0.999998,0.999999,0.999999,1.000000,1.000000,1.000000,1.000000,1.000000,0.999995,0.999998
1060,0.999981,0.999981,0.999981,0.999981,0.999981,0.999981,0.999981,0.999981,0.999981,0.999981,...,0.999999,0.999999,0.999999,1.000000,1.000000,1.000000,1.000000,1.000000,0.999995,0.999998
1061,0.999995,0.999995,0.999995,0.999995,0.999995,0.999995,0.999995,0.999995,0.999995,0.999995,...,0.999999,0.999998,0.999999,0.999995,0.999996,0.999995,0.999995,0.999995,1.000000,0.999999
1062,0.999990,0.999990,0.999990,0.999990,0.999991,0.999991,0.999991,0.999991,0.999991,0.999991,...,1.000000,1.000000,1.000000,0.999998,0.999999,0.999999,0.999998,0.999998,0.999999,1.000000

In [51]:
# songs_df['SongName'].loc[0]
# songs_df_cpy['id']
songs_df_cpy['SongName'].iloc[67]

'A Thousand Years'

In [52]:
# id = songs_df_cpy[songs_df_cpy['SongName'] == 'Illuminate']['id'].values[0]
# id
songName= 'Save Your Tears (with Ariana Grande) (Remix)'
index_recomm_c = songs_df_cpy[songs_df_cpy['SongName'] == songName]['id'].values[0]
index_recomm_c

48

In [53]:
songs_recomm_c = songs_df_cpy['SongName'].iloc[67]
songs_recomm_c

'A Thousand Years'

In [65]:
def give_recommendations(index=None, songName = None):
    try:
        if songName is not None:
            index = songs_df_cpy[songs_df_cpy['SongName'] == songName]['id'].values[0]
        index_recomm = cos_sim_data.loc[index].sort_values(ascending=False).index.tolist()[1:5]
    
        name = songs_df_cpy['SongName'].iloc[index] if songName is None else songName
        print(f"Recommending for : {name}")
        for index_r in index_recomm:
            songs_recomm = songs_df_cpy['SongName'].iloc[index_r]
            print(songs_recomm)
        # for song in songs_recomm:
        #     print(f"{song} is recommended for {songs_df_cpy['SongName'].loc[index]}")
    except:
        print(index)

In [68]:
give_recommendations(3717)

3717

In [67]:
songs_df_cpy

,SongName,ArtistName,Popularity,Danceability,Energy,Key,Loudness,Mode,Speechiness,Acousticness,Instrumentalness,Liveness,Valence,Tempo,Duration_ms,Duration_s,id
0,Saiyaan Ji,Yo Yo Honey Singh,62,0.896,0.678,0,-2.546,0,0.0815,0.0137,0.000041,0.1100,0.604,130.024,205450,205.0,0
1,Falling,Trevor Daniel,84,0.785,0.431,10,-8.756,0,0.0364,0.1230,0.000000,0.0887,0.236,127.085,159382,159.0,1
2,Shayad,Pritam,72,0.483,0.468,8,-7.642,1,0.0341,0.7850,0.000000,0.1520,0.319,135.864,247941,248.0,2
3,"Malang (Title Track) [From ""Malang - Unleash T...",Ved Sharma,68,0.384,0.728,7,-6.503,0,0.0623,0.3290,0.000018,0.3290,0.311,156.396,287374,287.0,3
4,Genda Phool (feat. Payal Dev),Badshah,67,0.955,0.538,1,-8.394,1,0.0734,0.1320,0.001460,0.0704,0.837,116.977,170769,171.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3687,Electricity,Sam Pinkerton,53,0.883,0.728,0,-6.079,1,0.0506,0.2280,0.000000,0.1730,0.489,104.037,174027,174.0,1058
3689,Illuminate,The Kite String Tangle,54,0.649,0.758,10,-5.647,0,0.0581,0.0364,0.000041,0.3600,0.737,120.001,167811,168.0,1059
3690,BE OK,Samoht,79,0.766,0.706,7,-6.553,0,0.1600,0.2230,0.000280,0.0640,0.766,142.989,172598,173.0,1060
3692,Dreams (feat. LUISAH),Blasterjaxx,50,0.550,0.234,0,-10.264,1,0.0358,0.9410,0.000003,0.0996,0.233,72.799,341918,342.0,1061
3717,Never Really Over,Katy Perry,80,0.805,0.330,1,-8.712,0,0.1000,0.2200,0.000000,0.1050,0.211,121.970,242983,243.0,1062